# Extension + Deps
# TRAEFIK_VERSION examples: latest, v3.6.9
TRAEFIK_VERSION=latest
# Container settings
NETWORK=network
# Environment
ACME_EMAIL=your-email@example.com
# Traefik API/Dashboard
TRAEFIK_API=false
# External container access
EXTERNAL_ACCESS=127.0.0.1:8080:8080